form{
	width: 300px;
	height: 370px;
	background: dimgray;
	margin: 100px auto;
}
h2{
	color: white;
	margin-left: 10%;
	padding-top: 30px;
	padding-bottom: 20px;
}
form .texSpan{
	display: block;
	color: white;
	font-size: 12px;
	margin-left: 10%;
	padding-bottom: 5px;
}
.texSpan span{
	margin-left: 27%;
}
form .span1{
	display: block;
}
form .texDiv{
	width: 70%;
	height: 35px;
	display: block;
	background: white;
	float: left;
	margin-left: 10%;
	line-height: 35px;
	font-family: "微软雅黑";
}
form .btnInp{
	width: 40px;
	height: 35px;
	float: left;
	border-left: 1px solid gray;
	background-color: white;
	background-image: url(../img/img1.png);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.span1:after{
	display: block;
	clear: both;
	content: "";
}

.boxDiv1{
	position: relative;
}
.boxDiv1 p{
	position: absolute;
	line-height: 35px;
	right: 21%;
	color: gray;
	font-weight: bold;
}
.boxDiv2{
	position: relative;
}
.boxDiv2 p{
	position: absolute;
	line-height: 35px;
	right: 21%;
	color: gray;
	font-weight: bold;
}

.searchInp{
	width: 83%;
	height: 35px;
	text-align: center;
	font-size: 16px;
	line-height: 35px;
	margin-left: 10%;
	color: white;
	background: #0094EF;
	font-family: "微软雅黑";
}

.texSpan2{
	font-size: 12px;
	color: #B5B6B6;
	display: block;
	padding-top: 15px;
	margin-left: 12%;
}

form .price-ul{
	width: 250px;
	position: absolute;
	margin-left: 30px;
	background: white;
	display: none;
	font-family: "微软雅黑";
	z-index: 1;
}
.price-ul li{
	line-height: 25px;
	text-align: left;
	padding-left: 10px;
	font-size: 16px;
}
.price-ul li:hover{
	background: dodgerblue;
	opacity: .6;
}
form .date-ul{
	width: 250px;
	position: absolute;
	margin-left: 30px;
	background: white;
	display: none;
	font-family: "微软雅黑";
}
.date-ul li{
	line-height: 25px;
	text-align: left;
	padding-left: 10px;
	font-size: 16px;
}
.date-ul li:hover{
	background: dodgerblue;
	opacity: .6;
}